<!-- template used on Ephata -->

<div ng-controller="ContentListController as contentListCtrl" class="xp_columns_container">
    <!-- MULTIPLE COLUMNS -->
    <div ng-style="contentListCtrl.blockStyle" class="xp_container">

        <!-- EACH COLUMN -->
        <div    ng-controller="ContentListDetailController as contentListDetailCtrl" 
                ng-repeat="content in contentListCtrl.contents" 
                ng-switch="content.typeId" 
                class="xp_col"
                style="padding: 0px;" 
                ng-class="contentListCtrl.columns">


            <!-- * DEFAULT TYPE OF COLUMN -->
            <div ng-switch-default class="xp_column" ng-class="{'survol': block.code != 'clickplus'}">
                <!-- PICTURE -->
                <div class="experience-img" ng-style="{'background': 'center / cover no-repeat url('+ rubedo.imageUrl.getUrlByMediaId(content.fields.image) +')'}">
                </div>

                <!-- TITLE -->
                <p ng-if="content.typeId != '54dc614245205e1d4a8b456b' && !content.fields.propositionReferencee && !content.fields.propositionReferenceeInterne" class="experience_title">{{content.fields.subTitle || content.fields.titre2}}</p> <!-- {{content.fields.text}} -->
                <p ng-if="content.fields.propositionReferencee || content.fields.propositionReferenceeInterne" class="experience_title"><a ng-href="{{ content.contentLinkUrl }}">{{content.fields.subTitle || content.fields.titre2 || content.fields.text}}</a></p>
                <p ng-if="content.typeId == '54dc614245205e1d4a8b456b'" class="experience_title"><a ng-href="{{ content.detailPageUrl }}">{{content.fields.text}}</a></p>

                <!-- SUMMARY -->
                <p ng-if="block.code == 'clickplus' && content.fields.summary" class="xp_ensavoirplus">plus...</p>
                <div ng-if="content.fields.summary || content.typeId == '54dc614245205e1d4a8b456b'" class="experience_text">
                    <p class="xp_subtitle">
                        <a ng-if="content.typeId != '54dc614245205e1d4a8b456b' && (content.fields.propositionReferencee || content.fields.propositionReferenceeInterne)" ng-href="{{content.contentLinkUrl}}">{{content.fields.subTitle || content.fields.titre2 || content.fields.text}}</a>
                        <span ng-if="!content.fields.propositionReferencee && !content.fields.propositionReferenceeInterne">{{content.fields.subTitle || content.fields.titre2 || content.fields.text}}</span>
                        <a ng-if="content.typeId == '54dc614245205e1d4a8b456b'" ng-href="{{ content.detailPageUrl }}">{{content.fields.text}}</a>
                    </p>
                    <p ng-if="content.fields.dateDebut || content.fields.complement_date" class="xp_date">
                        <time ng-if="content.fields.dateDebut">{{content.fields.dateDebut|dateRange:content.fields.dateFin:'short':'':'':rubedo.current.page.locale }} <span ng-if="content.fields.complement_date">{{content.fields.complement_date}}</span></time>
                        <time ng-if="!content.fields.dateDebut && content.fields.complement_date">{{content.fields.complement_date}}</time>
                    </p>
                    <p class="xp_text">{{content.fields.summary}}</p>
                </div>
            </div>


        </div>

    </div>

    <script>
        if (typeof window.retryXP !== 'function') {
            function retryXP(fn_cond, fn_exec, max_retries = -5) {
                if (max_retries == 0) return;
                if (fn_cond()) return fn_exec();
                return setTimeout(_ => retryXP(fn_cond, fn_exec, max_retries-1), 1000);
            }
            retryXP(_ => $('.xp_ensavoirplus').length > 1, function() {
                console.log("nb xp = ", $('.xp_ensavoirplus').length);
                $('.xp_ensavoirplus').click(function() {
                    $(this).next().addClass('show-xp-text');
                    $(this).next().click(function() {
                        $(this).removeClass('show-xp-text');
                    })
                })
            }, -5)
        }
    </script>
</div>

<style>
    .xp_columns_container {
        padding: 0 8px;
        display: flex;
        justify-content: center;
        font-family: Trident,Trebuchet MS,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .xp_container {
        width: 100%;
        margin-bottom: -11rem;
        display: flex;
        justify-content: center;
        padding-bottom: 11rem;
        max-height: calc(368px + 28rem);
    }

    .xp_col {
        max-width: 300px;
    }

    .xp_column {
        padding: 8px;
        max-height: 600px;
    }

    .xp_column.survol:hover .experience_text {
        color: red;
        margin: 3px;
        width: calc(100% - 6px);
        transform: translateY(-100%);
        opacity: 1;
        transition: transform .25s ease-in, -webkit-transform .25s ease-in, opacity 0.1s ease-in;
    }

    .experiences_back {
        background: #00558a;
        color: white;
        text-align: center;
        padding: 1rem;
        height: 40.9rem;
        margin-bottom: -33.2rem;
    }
    .experiences_back * {
        color: white;
    }
    
    .experience_text {
        background: white;
        width: 100%;
        padding: 1rem;
        transform: translateY(0);
        opacity: 0;
        transition: transform .25s ease-in, -webkit-transform .25s ease-in, opacity 0.2s ease-in;
    }
    .show-xp-text {
        margin: 3px;
        width: calc(100% - 6px);
        transform: translateY(-100%);
        opacity: 1;
        transition: transform .25s ease-in, -webkit-transform .25s ease-in, opacity 0.1s ease-in;
    }
    .experience-img {
        height: 368px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2px;
    }

    .experience_title {
        text-align: center;
        padding: 1rem;
        font-family: Montserrat;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .experience_title a {
        box-shadow: inset 0 -1px 0 hsl(224, 28%, 77%);
        letter-spacing: 1px;
        font-weight: normal;
    }
    .experience_title a:hover {
        background-color: hsla(240, 28%, 89%, 1);
    }

    .xp_ensavoirplus {
        cursor: pointer;
        font-size: 1.1rem;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        width: 47px;
        margin-left: auto;
        margin-right: 3rem;
        margin-top: -1.1rem;
        background: #00558a;
        color: white;
    }
    .xp_text {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .xp_subtitle {
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
        margin: 1.4rem 0;
    }

    @media screen and (max-width: 640px) {
        .xp_container {
            overflow-x: auto;
            overflow-y: hidden;
            justify-content: unset;
        }
        
        .xp_column {
            overflow: hidden;
        }
        
        .experience-img {
            min-width: 80vw;
        }
    }
</style>