<!-- template used on Ephata -->

<div ng-controller="ContentListController as contentListCtrl" class="xp_columns_container">
    <!-- MULTIPLE COLUMNS -->
    <div ng-style="contentListCtrl.blockStyle" class="xp_container">

        <!-- EACH COLUMN -->
        <div    ng-controller="ContentListDetailController as contentListDetailCtrl" 
                ng-repeat="content in contentListCtrl.contents" 
                ng-switch="content.typeId" 
                class="col-xs-6 col-xxs-12"
                style="padding: 0px;" 
                ng-class="contentListCtrl.columns">


            <!-- * DEFAULT TYPE OF COLUMN -->
            <div ng-switch-default class="xp_column">
                <!-- PICTURE -->
                <div class="experience-img" ng-style="{'background': 'center / cover no-repeat url('+ rubedo.imageUrl.getUrlByMediaId(content.fields.image) +')'}">
                </div>

                <!-- TITLE -->
                <p ng-if="!content.fields.propositionReferencee && !content.fields.propositionReferenceeInterne" class="experience_title">{{content.fields.subTitle || content.fields.titre2}}</p> <!-- {{content.fields.text}} -->
                <p ng-else class="experience_title"><a ng-href="{{ content.detailPageUrl }}">{{content.fields.subTitle || content.fields.titre2 || content.fields.text}}</a></p>

                <!-- SUMMARY -->
                <p ng-if="content.fields.summary" class="xp_ensavoirplus">plus...</p>
                <div ng-if="content.fields.summary" class="experience_text">
                    <p class="xp_subtitle">{{content.fields.subTitle || content.fields.titre2 || content.fields.text}}</p>
                    <p class="xp_text">{{content.fields.summary}}</p>
                </div>
            </div>


        </div>

    </div>

    <script>
        if (typeof window.retryXP !== 'function') {
            function retryXP(fn_cond, fn_exec, max_retries = -5) {
                if (max_retries == 0) return;
                if (fn_cond()) return fn_exec();
                return setTimeout(_ => retryXP(fn_cond, fn_exec, max_retries-1), 1000);
            }
            retryXP(_ => $('.xp_ensavoirplus').length > 1, function() {
                console.log("nb xp = ", $('.xp_ensavoirplus').length);
                $('.xp_ensavoirplus').click(function() {
                    $(this).next().addClass('show-xp-text');
                    $(this).next().click(function() {
                        $(this).removeClass('show-xp-text');
                    })
                })
            }, -5)
        }
    </script>
</div>

<style>
    .xp_columns_container {
        padding: 0 8px;
        display: flex;
        justify-content: center;
        font-family: Trident,Trebuchet MS,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .xp_container {
        width: 100%;
        max-width: 30cm;
        margin-bottom: -11rem;
    }

    .xp_column {
        padding: 8px;
    }

    .experiences_back {
        background: #00558a;
        color: white;
        text-align: center;
        padding: 1rem;
        height: 40.9rem;
        margin-bottom: -33.2rem;
    }
    .experiences_back * {
        color: white;
    }
    .list-item-img {
        position: relative;
        width: 100%;
        overflow: hidden;
        height: 27rem;
        background: #bfbfbf;
    }
    .experience_text {
        background: white;
        width: 100%;
        padding: 1rem;
        transform: translateY(0);
        opacity: 0;
        transition: transform .25s ease-in, -webkit-transform .25s ease-in, opacity 0.2s ease-in;
    }
    .show-xp-text {
        margin: 3px;
        width: calc(100% - 6px);
        transform: translateY(-100%);
        opacity: 1;
        transition: transform .25s ease-in, -webkit-transform .25s ease-in, opacity 0.1s ease-in;
    }
    .experience-img {
        height: 368px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 2px;
    }

    .experience_title {
        text-align: center;
        padding: 1rem;
        font-family: Montserrat;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .xp_ensavoirplus {
        cursor: pointer;
        font-size: 1.1rem;
        text-decoration: none;
        text-align: center;
        border-radius: 3px;
        width: 47px;
        margin-left: auto;
        margin-right: 3rem;
        margin-top: -1.1rem;
        background: #00558a;
        color: white;
    }
    .xp_text {
        text-align: center;
        font-family: "Trebuchet MS";
        font-size: 1.4rem;
        line-height: 1.6rem;
    }
    .xp_subtitle {
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
        margin: 1.4rem 0;
    }
</style>